/* Основные стили */
h1 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 146px;
    line-height: 82%;
    letter-spacing: -0.06em;
    text-transform: uppercase;
    color: var(--title-color-accent);
    text-align: center;
    margin-top: 96px;
    margin-bottom: 0;
}

h1 span {
    font-family: var(--second-family);
}

.home-block {
   margin-top: 128px;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.home-block img {
    position: absolute;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    z-index: 0;
}

.home-block p {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 146px;
    line-height: 82%;
    letter-spacing: -0.06em;
    text-transform: uppercase;
    color: #fff;
    z-index: 1;
}

/* Адаптивные стили */
@media (max-width: 768px) {
    h1 {
        font-size: 72px;
        margin-top: 48px;
    }

    .home-block {
        margin-top: 64px;
    }

    .home-block p {
        font-size: 72px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 48px;
        margin-top: 32px;
    }

    .home-block {
        margin-top: 32px;
    }

    .home-block p {
        font-size: 48px;
    }
}