:root {
    --font-family: "Inter", sans-serif; /* Основной шрифт */
    --second-family: "Playfair Display", sans-serif; /* Акцентный шрифт */
    --title-color-accent: #a2004e; /* Акцентный цвет заголовков */
    --title-color: #7d205d; /* цвет у маленьких заголовков */
    --main-color: #ca407a; /* основной цвет */
    --pink-black: #1F001E; /* в хэдере и футере */
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 1920px;
    font-family: var(--font-family);
}

.container {
    padding: 0 80px;
}

.title-block {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 128px;
}

.title-block h2 {
    font-family: var(--font-family);
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: var(--title-color);
    text-align: center;
    opacity: 0.5;
}

.title-block p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 48px;
    line-height: 110%;
    letter-spacing: -0.04em;
    text-align: center;
    color: #a2004e;
}

details {
    transition: all 0.5s ease;
  }
  
  details[open] > summary ~ * {
    animation: openDetails 0.5s ease-in-out;
  }
  
  @keyframes openDetails {
    from {
      opacity: 0;
      max-height: 0;
    }
    to {
      opacity: 1;
      max-height: 100vh; /* Достаточно большое значение для обеспечения видимости содержимого */
    }
  }

summary { 
    cursor: pointer;
}



/* Адаптивные стили */
@media (max-width: 1200px) {
    .container {
        padding: 0 40px;
    }

    .title-block {
        margin-top: 96px;
    }

    .title-block p {
        font-size: 40px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 20px;
    }

    .title-block {
        margin-top: 64px;
    }

    .title-block p {
        font-size: 32px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 0 10px;
    }

    .title-block {
        margin-top: 32px;
    }

    .title-block h2 {
        font-size: 18px;
    }

    .title-block p {
        font-size: 24px;
    }
}